/* Cards.css */

.card-container {
  display: flex;
  justify-content: space-between;
  background-color: #2e3e6a;
  height: 89vh;
}

.card {
  width: 47%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  background: linear-gradient(to bottom, #4f5389, #6374a7);
  background-color: rgba(161, 161, 161, 0.7);
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  transition: transform 0.3s;
  /* backdrop-filter: blur(0px); */
}

.card h2 {
  text-align: center;
  margin: 0;
}

.card:hover {
  transform: scale(1);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dropdown {
  text-align: center;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 5px;
}

.dropdown select {
  -webkit-appearance: none; /* Remove the default arrow for webkit browsers (Safari and Chrome) */
  -moz-appearance: none; /* Remove the default arrow for Firefox */
  appearance: none; /* Remove the default arrow for modern browsers */
  background-image: url("your-dropdown-arrow-image.png"); /* Replace 'your-dropdown-arrow-image.png' with the actual image path */
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px; /* Adjust the padding to make space for the arrow image */
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown select:hover {
  background-color: #e0e0e0;
}

.card {
  border: 2px solid #0000;
}

.card:hover {
  border-color: #0000003f;
}
.input-field {
  margin-bottom: 20px;
  text-align: center; /* Center align its content */
}

.centered-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

textarea {
  height: 100px; /* Adjust the height as needed */
  width: 400px; /* Set a fixed width */
  resize: none; /* Prevent resizing */
}

.transfer-icon {
  position: absolute;
  left: 42.2%;
  color: #b4b3d9;
  z-index: 100 !important;
  font-size: 15rem;
  top: 34%;
}

.centered-button {
  display: block;
  margin: 0 auto; /* Center align the button horizontally */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Button padding */
  border-radius: 4px; /* Button border radius */
  cursor: pointer; /* Add cursor pointer on hover */
}

.centered-button:hover {
  background-color: #0056b3; /* Change button background color on hover */
}
