/* Navbar.css */

.navbar {
  background-color: #3f579c; /* Background color for the navbar */
  color: #fff; /* Text color for the navbar items */
  padding: 25px 30px; /* Add padding to space out the items */
  display: flex; /* Display the left and right sections in a row */
  justify-content: space-between; /* Separate them to the left and right */
  align-items: center; /* Vertically center the content */
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

.navbar-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s;
}
.navbar-left {
  display: flex;
}
.navbar-title {
  font-size: 24px; /* Adjust the title font size */
  font-weight: bold; /* Make the title bold */
  transition: color 0.3s; /* Add a color transition on hover */
}

.connect-wallet-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to the button */
  border-radius: 4px; /* Add some border radius for a button look */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

.connect-wallet-button:hover {
  background-color: #0056b3; /* Change button color on hover */
}
